<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (2018-02-14 13:01)</string>
	<string>M7.0-5576-2</string>
	<string>G-r16-2E164</string>
</array>
</plist>
